.ExproPro_container{
    margin: 10px;
    width: 100%;
    padding: 20px;
    text-align: left;
    padding: 10px;
    /*border: solid 1px black;*/
   
}

.li_style{
    list-style-type: square
}
.Content_container{
    border: solid black 1px;
    margin-top: none;
    padding: 10px;
}