.Fiche_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 700px;
    text-align: center;
    align-items:center;
    padding: 10px 15px 10px 15px;
    row-gap: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: solid 2px rgb(204, 145, 194);
    box-shadow:2px 2px  rgb(204, 145, 194);
    border-radius: 5px;
    position: relative;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.h2_style_fiche{
    font-weight: 10px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #dee2e6;
    position: relative;
    top: 250px;

}

.img_style{
    
    border:2px solid #dee2e6;
    border-radius:50%;
    /* max-width:25%; */
    height:25%;
    margin: 15px;    
    /* background-position-x: center;
    background-position-y: center; */
    position: relative;
    top: 200px;
    right: o
};

.faStyle{
    color: azure;
    font-weight: bold;
}



