.infoPers_container{
    font-weight: 10px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #dee2e6;
}

.h2_infoPers_style{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.fa_computer_style{
    font-size: large;
}

