.menu_container{
background-color: rgb(187, 207, 207);
padding-left: 50px;
padding-right: 30px;
/* font-weight: 100;
justify-content: center;
gap: 1em;
height: 70px; */
}

.button{
    height: auto;
    width: 120px;
    text-align: center;
    background: rgb(161, 176, 176);
    margin-left: 10px;
    margin-right: 10px;
}

.button_switch{
    height: 35px;
    width: 120px;
    text-align: center;
    font-size: small;
    border: solid rgb(16, 136, 110) 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.button_start{
    margin-left: 150px;
}

.icon{
    border:2px solid #dee2e6;
    border-radius:60%;
    /* max-width:25%; */
    height:20px;
    width: auto;
}

