.h3_style{
    font-weight: 10px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #dee2e6;
}

.h2_parcours_style{
text-align: center;
margin-bottom: 30px;
margin-top: 40px;
}


.li_style{
    list-style: none;
}



.Content_container{
   /* border: solid black 1px;*/
    margin-top: none;
    
}
