.h2_project_style{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    }

.img_style_project{
    width: 100px;
    height: 250px;
}

.card_container{
    background: linear-gradient( to bottom right, #127380, #a789a4);
    margin-right: -10px;
    margin-left: -10px;
    }
