.h2_techno_style{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.p_techno_style{
   display:flex;
   flex-direction: row;
}

.button_techno{
    height: auto;
    width: 120px;
    text-align: center;
    background: rgb(121, 165, 165);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: solid 1px ;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.techno_content{
    display: flex;
    flex-direction: column;
    margin-left: -25px;
    text-align: center;
    align-items: center;
}