.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    text-align: center;
    margin: none;
    /* border: solid 1px rgb(85, 68, 59); */
    justify-content: center;

}

.containerBody1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content;
    text-align: bottom;
    margin-top: 20px;
    padding-right: 20px;
    /*border: solid 1px rgb(199, 207, 50);*/
    justify-content: left;
}

.containerBody2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    text-align: center;
    margin-left: 10px;
    /*border: solid 1px rgb(199, 207, 50);*/
    justify-content: center;
}

.containerB {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: none;
    border: solid 1px rgb(59, 85, 82);
    justify-content: center;
    border: solid red;
    margin: 10px;
}

.box{
    background: linear-gradient( to bottom right, #127380, #a789a4) ;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    text-align: left;
    align-items:left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    row-gap: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: solid 2px rgb(204, 145, 194);
    box-shadow:2px 2px rgb(204, 145, 194);
    border-radius: 5px;
    position: relative;
}

.h2_style_util{
    font-weight: 10px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #dee2e6;
}

